@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$universal-gray: rgb(25,25,25);
$universal-light-gray: #888;
$acm-orange: #fc9200;
$acm-red: #fd1b00;
$acm-yellow: #ffd600;
$acm-green: #a6bc09;
$acm-blue: #0182ac;

$acm-gold: $acm-yellow;
$acm-silver: rgb(200,200,200);
$acm-bronze: $acm-orange;