@import "../../styles/var.scss";

div#algo-intro-section{
	display: flex;
	align-items: center;
	color: white;
	height: 50vh;
	padding: 1.5% 0;
	
	img{
		padding: 0 1.5%;
		width: 35%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		border-right: 1px solid rgba(255,255,255,0.5);
	}
	
	div#intro-text{
		padding: 1.5%;
		font-size: 1.5em;
	}
}