img#landing-image{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9;
	width: 100%;
	height: 100%;
	background: gray;
	object-fit: cover;
	object-position: center 0%;
	transition: opacity 0.2s;
}

img#landing-image.scrolled{
	opacity: 25%;
}

div#landing-text{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -8;
	width: 100%;
	height: 100%;
	color: white;
	
	div.wrapper{
		height: 100%;
		display: flex;
		width: 80%;
		align-items: center;
		justify-content: space-between;
		
		h1{
			width: 48%;
			font-size: 5.5vw;
			text-align: right;
		}
		
		p{
			width: 48%;
			font-size: 3.25vw;
		}
		
	}
	
}

div#landing-spacer{
	margin-top: 100vh;
}

@media (min-width: 1920px){
	div#landing-text{
		div.wrapper{
			h1{
				font-size: 0.055 * 1920px;
			}
			p{
				font-size: 0.0325 * 1920px;
			}
		}
	}
}

@media (max-width: 768px){
	div#landing-text{
		div.wrapper{
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			h1{
				font-size: 2.5em;
				width: 100%;
				text-align: center;
			}
			p#algo-theme{
				font-size: 1.75em;
				width: 100%;
				text-align: center;
			}
		}
	}
}