@import "../../styles/var.scss";
div#prizes-section{
	padding-top: 3vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	div.banner{
		text-align: center;
		width: 25%;
		margin: 0 2%;
		font-size: 2em;
		color: black;

		img.trophy-img{
			width: 50%;
			object-fit: contain;
		}

		div.banner-content{
			width: 100%;
			margin-top: 1vh;
			padding-top: 3vh;
			padding-bottom: 50px;
			border-radius: 3vh;
			clip-path: polygon(50% 100%, 100% calc(100% - 50px), 100% 0, 0 0, 0 calc(100% - 50px));
			
			div.prize{
				padding: 3vh 0;
				p{
					margin-top: 3vh;
				}
			}

		}

	}
	
	div.banner#first{

		div.prize{
			background: $acm-gold;
		}

		div.banner-content{
			background: $acm-gold-dark;
			padding-bottom: 3 * 50px;
		}
	}
	
	
	div.banner#second{
		div.prize{
			background: $acm-silver;
		}
		div.banner-content{
			background: $acm-silver-dark;
			padding-bottom: 2 * 50px;
		}
	}
	
	div.banner#third{
		div.prize{
			background: $acm-bronze;
		}
		div.banner-content{
			background: $acm-bronze-dark;
		}
	}
	
}

@media (max-width: 768px){

	div#prizes-section{
		font-size: 0.5em;
		div.banner{
			div.banner-content{

			}
		}
	}
}