@import "../../styles/var.scss";

div#mechanics-layout{
	color: $dull-white;
	width: 80%;
	padding: 5%;
	margin: auto;
	
	h1#page-title{
		font-size: 4em;
		text-align: center;
		padding: 1.5%;
		border-bottom: 1px solid $dull-white;
		margin-bottom: 2%;
	}
	
	p{
		margin: 3% 0;
		text-align: justify;
		line-height: 2em;
	}

	hr{
		border: 1px solid rgb(100,100,100);
	}
	
	a{
		color: $acm-dull-orange;
		text-decoration: underline;
	}
	
	strong{
		color: $acm-dull-red;
	}
	
	li{
		margin: 2% 0;
		margin-left: 5%;
		font-size: 1.125em;
	}
	
}

@media (max-width: 768px){
	div#mechanics-layout{
		
		h1#page-title{
			font-size: 2.5em;
			margin: 0;
			text-align: left;
			padding: 3%;
			padding-left: 0;
			margin-bottom: 8%;
		}
		
		h1{
			margin-top: 8%;
			margin-bottom: 1%;
			font-size: 1.5em;
			color: white;
		}
		
		p{
			margin: 6% 0;
			font-size: 1em;
		}
		
		a{
			color: $acm-orange;
		}
		
		strong{
			color: $acm-red;
		}
		
		li{
			margin: 2% 0;
			margin-left: 5%;
			font-size: 1em;
		}
		
	}

}