@import "../../styles/var.scss";

div#scoreboards-section{
    color: $dull-white;
}

.table-title{
    text-align: center;
}

.scoreboard{
    margin: auto;
    .headers{
        > *{
            border-bottom: 1px solid $dull-white;
            padding: 2% 0;
            text-align: center;
        }
    }
    .score-entry{
        > *{
            padding: 0.25% 1.5%;
            border-bottom: 1px solid $acm-dark-gray;
        }
        .rank{
            text-align: right;
        }
        .name{
            text-align: right;
            .cf-name{
                padding: 3% 0;
            }
            .school{
                font-size: 0.75em;
                padding-bottom: 3%;
            }
        }
        .score{
            text-align: center;
            .penalty{
                font-size: 0.75em;
            }
        }
    }
}

@media (max-width: 768px){
    .mobile-invisible{
        display: none;
    }
}